@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    background: linear-gradient(to right, #f2f3f5, #e0e7ff);
    color: #333;
    font-family: "Outfit", sans-serif !important;
}
